html {
  font-size: 100%;
  box-sizing: border-box;
}
* {
  margin: 0%;
}
body {
  font: 1.6rem helvetica;
  background-color: #f0f2f5;
  margin-right: 0%;
}

.homepage {
  display: grid;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  position: sticky;
  top: 0;
  width: 100%;
  height: 4.5rem;
  border: 0.1rem black;
  margin-right: 20px;
}
.search-header {
  display: flex;
}
.search-bar {
  display: flex;
  align-items: center;
  background-color: #f0f2f5;
  border-radius: 1rem;
  height: 2.8rem;
  padding: 0 20px;
  margin: 28px 7px;
}
input[type="Search"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  align-items: center;
  box-sizing: border-box;
  outline-width: 50px;
  background-color: #f0f2f5;
  border: none;
}
input::placeholder {
  font-size: 1rem;
}
.navigation-header {
  display: flex;
  align-items: center;
  flex: 0%;
  justify-content: center;
  width: 1%;
  margin-left: 0;
}
.icon {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0 50px;
}
.account-header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu,
.messages,
.notifications {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0 25px;
  border-radius: 50%;
  height: 2.7rem;
  background-color: #f0f2f5;
}
.profile {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 0 10px;
  font-weight: 500;
  border-radius: 50%;
  height: 3rem;
  margin-right: 20px;
}
/* .profile > div {
  padding-left: 10px;
}
.profile > img {
  border-radius: 50%;
  max-width: 40%;
} */
.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0 50px;
}
